<!doctype html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <title th:text="${book.title}">Default Title</title>
    </head>
    <body>
        <header>
            <section>
                <h1 th:text="${book.title}">Default Title</h1>
                <h2><a th:href="|/authors/${book.author.id}|" th:text="|${book.author.firstName} ${book.author.lastName}|">Default Author</a></h2>
            </section>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/books">Books</a></li>
                    <li><a href="/authors">Authors</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <small th:text="${book.genre}">Default Genre</small>
            <p>More book info coming soon...</p>
        </main>
        <footer>
            <small>&copy; Literate Octo Dollop 2019</small>
        </footer>
    </body>
</html>