<!doctype html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <title>Literate Octo Dollop: Authors</title>
    </head>
    <body>
        <header>
            <section>
                <h1>Literate Octo Dollop</h1>
                <h2>Authors</h2>
            </section>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/books">Books</a></li>
                    <li><a href="/authors">Authors</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <ul>
                <li th:each="author : ${authors}">
                    <h3><a th:href="@{|/authors/${author.id}|}" th:text="|${author.firstName} ${author.lastName}">Default Name</a></h3>
                </li>
            </ul>
            <form action="/authors" method="POST">
                <label>First Name: <input type="text" name="firstName" /></label>
                <label>Last Name: <input type="text" name="lastName" /></label>
                <button type="submit">Submit</button>
            </form>
        </main>
        <footer>
            <small>&copy; Literate Octo Dollop 2019</small>
        </footer>
    </body>
</html>